*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html body{
  background-color: #d5d5d5;
}

.wrapper{
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.width100{
 width: 100% !important;
 max-width: 100% !important;
}
.custom-form {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

#list1 .form-control {
  border-color: transparent;
}
#list1 .form-control:focus {
  border-color: transparent;
  box-shadow: none;
}
#list1 .select-input.form-control[readonly]:not([disabled]) {
  background-color: #fbfbfb;
}
.logout{
  text-align: right;
  cursor: pointer;
  display: inline-block;
}
.card-body .h1{display: inline-block;}
.item-completed li {
  text-decoration: line-through;
}

@media only screen and (max-width: 768px) {
  .logout {
    margin-left: 15%;
  }

  .form-group .action-wrapper span{
    margin-bottom: 10px;
  }
  .form-group .action-wrapper span .react-datepicker-wrapper{width: 100%;}
  .form-group .action-wrapper button[type="submit"]{margin-left: 0;}
}